* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: solid 2px red; */
}

body {
    width: 100%;
    height: 100vh;
    background-color: hsl(235, 21%, 11%);
}

.banner-con {
    width: 100%;
    height: 60vh;
}

.banner {
    width: 100%;
    height: 100%;
    background-image: url("./images/bg-desktop-dark.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    width: 37.5rem;
    display: flex;
    justify-content: space-between;
    margin-top: 40vh;
}

.content h1 {
    letter-spacing: 3px;
    color: #fff;
}

.content img {
    height: 2.1rem;
}

.todo {
    width: 37.5rem;
    max-height: 498px;
}

form {
    width: 100%;
    height: 83px;
}

form input {
    width: 100%;
    padding: 0.8rem 1.8rem;
    border-radius: 0.3rem;
    margin-top: 2rem;
    background: hsl(235, 24%, 19%);
    color: #fff;
    font-size: 1rem;
    letter-spacing: 1px;
    outline: none;
    border: none;
}


form ::placeholder {
    color: #fff;
    letter-spacing: 1px;
}

.list {
    width: 100%;
    max-height: 20.5rem;
    margin-top: 2rem;
}

.todo-con {
    width: 100%;
    background-color: hsl(235, 24%, 19%);
    border-radius: 5px;
}

.todo-li {
    display: flex;
    background-color: hsl(235, 24%, 19%);
    padding: 1rem 0.9rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-style: italic;
    font-size: 1.1rem;
    align-items: center;

}

.todo-li p {
    width: 92%;
    color: #fff;
}

.todo-li .check {
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid hsl(233, 14%, 35%);
    border-radius: 50%;
    display: grid;
    place-content: center;
    margin-right: 1rem;
    cursor: pointer;
}

.todo-li .check img {
    transform: scale(0);
    transition: all 0.3s ease;
}

.todo-li .close {
    background: transparent;
    outline: none;
    border: none;
    opacity: 0;
    transition: all 0.4s ease;
    cursor: pointer;
}

.todo-li:hover .close {
    opacity: 1;

}

.hr {
    width: 100%;
    background: hsl(233, 14%, 35%);
    height: 0.9px;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: hsl(234, 11%, 52%);
    padding: 1rem 0.9rem;
    background: hsl(235, 24%, 19%);
    border-top: solid 0.9px hsl(233, 14%, 35%);
}

.choice {
    display: flex;
}

.choice p {
    padding: 0 5px;
}

.info p:hover {
    color: hsl(220, 98%, 61%);
}

.active {
    color: hsl(220, 98%, 61%);
}

.active-check {
    background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.todo-li .active-check img {
    transform: scale(1);
}


/* <style>.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

</style> */