* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: solid 2px red; */
}

body {
    width: 100%;
    height: 100vh;
    background-color: hsl(235, 21%, 11%);
    font-family: 'Edu TAS Beginner', sans-serif;
}

.banner-con {
    width: 100%;
    height: 60vh;
}

.banner {
    width: 100%;
    height: 100%;
    background-image: url("/images/bg-desktop-dark.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .todo-container {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    padding: 20px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

} */

/* .content {
    width: 37.5rem;
    display: flex;
    justify-content: space-between;
    margin-top: 40vh;
}

.content h1 {
    letter-spacing: 3px;
    color: #fff;
}

.content img {
    height: 2.1rem;
} */


.todo-container {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    width: 37.5rem;
    margin-top: 2rem;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo {
    width: 100%;
    margin-top: 2rem;
}

h2 {
    padding: 10px;
    font-size: 2rem;
    letter-spacing: 3px;
    color: #fff;
}

input {
    margin-bottom: 2px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    height: 20px;
    font-family: 'Edu TAS Beginner', sans-serif;
}

textarea {
    display: block;
    padding: 2px;
    width: 100%;
    border-radius: 5px;
    font-family: 'Edu TAS Beginner', sans-serif;
}

.todo-header button {
    display: block;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    font-family: 'Edu TAS Beginner', sans-serif;
}


ul {
    list-style: none;
    margin-top: 2rem;
}

.todo-list-item {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: hsl(235, 24%, 19%);
    display: flex;
    flex-direction: row;
}

.todo-list-item .close {
    background: transparent;
    outline: none;
    border: none;
    opacity: 0;
    transition: all 0.4s ease;
    cursor: pointer;

}

.todo-list-item:hover .close {
    opacity: 1;

}

.todo-list-item .bin {
    background: transparent;
    outline: none;
    border: none;
    opacity: 0;
    transition: all 0.4s ease;
    cursor: pointer;
    color: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

}

.todo-list-item:hover .bin {
    opacity: 1;

}

.todo-list-item .bin .fa-edit {
    color: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}


.todo-list-item-content {
    font-size: .8rem;
    margin-left: 10px;
    margin-right: 10px;
}

.todo-list-item form {
    width: 100%;
    display: flex;
}

.todo-list-item input {
    margin-right: 20px;
    border: none;
    border-radius: 5px;
}


.todo-list-item .confirm {
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    margin-left: 5px;
    max-height: 30px;
    font-family: 'Edu TAS Beginner', sans-serif;
    display: block;
}

.todo-list-item .cancel {
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    background-color: rgb(223, 43, 43);
    margin-left: 5px;
    max-height: 30px;
    display: block;
}

.todo-list-item div {
    flex-grow: 2;
    /* For it to take more space that the other elements*/
}

.todo-list-item .edit {
    color: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
    margin-left: auto;
}

/* .todo-list-item .remove {
    color: rgb(243, 96, 96);
    margin-right: 5px;
    cursor: pointer;
    text-decoration: none;
} */

.todo-list-item .remove {
    background: transparent;
    outline: none;
    border: none;
    opacity: 0;
    transition: all 0.4s ease;
    cursor: pointer;
}